#####################
# Elisp
# Compiled
*.elc

# Packaging
.cask

#####################
emacs/.twittering-mode-icons.gz
emacs/.twittering-mode.gpg
emacs/emacs.d/.*
emacs/emacs.d/ac-comphist.dat
emacs/emacs.d/eshell
emacs/emacs.d/tutorial
emacs/emacs.d/smex-items

nabi/nabi.log

*.swp
*.bak
*#
*~

# for easylinker
.venv
