#####################
# Elisp
# Compiled
*.elc

# Packaging
.cask

#####################
emacs/.twittering-mode-icons.gz
emacs/.twittering-mode.gpg
emacs/emacs.d/.python-environments
emacs/emacs.d/ac-comphist.dat
emacs/emacs.d/eshell

nabi/nabi.log

*.swp
*.bak
*#
*~

# for easylinker
.venv
