# Reference
# https://wiki.archlinux.org/index.php/RTorrent

# Performance
min_peers = 40
max_peers = 52

min_peers_seed = 10
max_peers_seed = 52

max_uploads = 8

download_rate = 0
upload_rate = 100

# Default download directory
directory = ./torrent

# Default session directory
session = ./.rtorrent/session

# Port range to use for listening
port_range = 49152-65535
port_random = yes

# Watch a directory for new torrents, and stop those that have been
# deleted.
schedule = watch_directory,5,5,load_start=./torrent/*.torrent
schedule = untied_directory,5,5,stop_untied=

# rTorrent should try to use UDP trackers
use_udp_trackers = yes

# Check hash for completed torrents
check_hash = yes

# Use protocol encryption
encryption = allow_incoming,try_outgoing,enable_retry,prefer_plaintext

# Enable DHT as needed
dht = auto
dht_port = 6881

# Enable peer exchange
peer_exchange = yes
